/* Основні стилі */
body {
    font-family: 'Oswald', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('back.jpg'); 
    background-size: cover; /* Масштабує зображення, щоб воно покривало весь екран */
    background-position: center; /* Центрує фон */
    background-attachment: fixed; /* Фіксує фон при прокручуванні */
    color: #333; /* Колір тексту */
    font-size: 20px;
}

/* Заголовок */
header {
    background-color: #2c3e50;
    color: white;
    padding: 15px 20px;
}

.nav-links li a {
    display: block;
    text-align: left;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

/* Лого + заголовок */
.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

h1 {
    font-size: 25px;
    margin: 0;
}

h2 {
    font-size: 25px;
    margin: 20;
    text-align: left;
}

/* Навігація */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
    font-size: 18px;
}

.nav-links li a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

/* Основний контент */
main {
    padding: 20px;
    max-width: 100%;
    margin: auto;
}

#trainings, #trainers {
    padding: 20px;
    background: none;
    text-align: center;
}

.grid-container,
.trainer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1800px;
    justify-items: center;
}

/* Картки */
.training-card,
.trainer-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Вирівнюємо весь текст по лівому краю */
    line-height: 1.2; /* Зменшуємо міжрядковий інтервал */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Додаємо плавний перехід */
    font-size: 20px;
}

/* Підсвічування картки при наведенні */
.training-card:hover,
.trainer-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Більша тінь для підсвічування */
    transform: scale(1.05); /* Трохи збільшуємо розмір картки */
}

.training-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.trainer-card img {
    width: 100%;
    border-radius: 10px;
}

/* Кнопки "Виконати" */
.execute-btn,
.choose, .submit button  {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.execute-btn:hover,
.trainer-card button:hover {
    background-color: #34495e;
}

.date-picker,
.time-picker {
    text-align: left;
}


/* Футер */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

#progress, 
#nutrition {
    padding: 30px; /* Менші відступи */
    margin: 40px auto; /* Центрування та зменшення відступів */
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

.chart-container {
    width: 100%; /* Задає ширину на 100% контейнера */
    max-width: 400px; /* Максимальна ширина графіка */
    height: 300px; /* Фіксована висота */
    margin: 50px 40px; /* Центрує контейнер на сторінці */
    overflow: visible; /* Якщо графік буде перевищувати розміри, він буде обрізаний */
    position: relative; /* Для подальшого вирівнювання елементів в межах контейнера */
}

.chart {
    display: flex; /* Використовуємо flexbox для вирівнювання стовпців */
    justify-content: space-between; /* Розміщуємо стовпці рівномірно по ширині */
    align-items: flex-end; /* Вирівнюємо стовпці по нижній частині */
    height: 100%;
}

.bar {
    width: 28px; /* Ширина кожного стовпця */
    background-color: #3498db; /* Колір стовпців */
    transition: height 0.3s ease-in-out; /* Анімація для зміни висоти */
}

.y-axis-labels {
    position: absolute;
    top: 0;
    left: -40px; /* Відстань від графіка */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #333;
}

.y-label {
    font-size: 12px;
    margin: 10px 0;
}

/* Підписи для горизонтальної осі */
.x-axis-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: -25px; /* Відстань для підписів горизонтальної осі */
}

.x-label {
    font-size: 12px;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Створення двох стовпців, кожен займає половину ширини */
    gap: 20px; /* Відстань між стовпцями */
  }
  
.column {
    padding: 10px;
}

.meal-table {
    width: 400px;
    height: 300px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.meal-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meal-row:hover {
    background-color: #3498db;
    color: white;
}

.plus {
    font-weight: bold;
}

/* Адаптивність */
@media screen and (max-width: 768px) {
    body {
        font-size: 17px;
    }
    
    h1 {
        font-size: 22px;
        text-align: left;
    }

    h2 {
        font-size: 20px;
    }

    .header-container {
        flex-direction: column;
        align-items: left;
    }

    .nav-links {
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }
    
    .nav-links li {
        display: block;
    }
    
    .nav-links li a {
        display: block;
        text-align: left;
        padding: 10px;
        width: 100%;
        font-size: 16px;
    }
    
    .grid-container {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-columns: 1fr; /* Одна колонка на малих екранах */
        gap: 10px; /* Менша відстань між елементами */
    }

    .training-card,
    .trainer-card {
        font-size: 17px;
        max-width: 100%;
    }

    .execute-btn,
    .choose, .submit button  {
        margin-top: 5px;
        font-size: 12px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    #progress, 
    #nutrition {
        padding: 20px; /* Менші відступи всередині */
        width: 90%; /* Займатимуть більшу частину екрану */
        margin: 20px auto; /* Центруємо контейнер */
        display: block; /* Перехід на блоковий елемент */
    }

    .chart-container{
        width: 100%; /* Задає ширину на 100% контейнера */
        max-width: 250px; /* Повна ширина для таблиці */
        height: 150px; /* Автоматична висота */
    }

    .chart {
        display: flex; /* Використовуємо flexbox для вирівнювання стовпців */
        justify-content: space-between; /* Розміщуємо стовпці рівномірно по ширині */
        align-items: flex-end; /* Вирівнюємо стовпці по нижній частині */
        height: 140%;
    }

    .y-label {
        font-size: 8px;
    }
    
    .x-label {
        font-size: 8px;
    }
    
    .x-axis-labels {
        bottom: -78px; /* Відстань для підписів горизонтальної осі */
    }    

    .meal-table {
        font-size: 17px;
        width: 100%; /* Повна ширина для таблиці */
        height: auto;
    }

    footer {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    
    h1 {
        font-size: 20px;
        text-align: left;
    }

    h2 {
        font-size: 17px;
    }

    .nav-links {
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }
    
    .nav-links li {
        display: block;
    }
    
    .nav-links li a {
        display: block;
        text-align: left;
        padding: 10px;
        width: 100%;
        font-size: 15px;
    }

    .execute-btn,
    .choose, .submit button  {
        margin-top: 2px;
        font-size: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .training-card,
    .trainer-card {
        font-size: 12px;
    }

    #progress, 
    #nutrition {
        padding: 20px; /* Менші відступи всередині */
        width: 90%; /* Займатимуть більшу частину екрану */
        margin: 20px auto; /* Центруємо контейнер */
        display: block; /* Перехід на блоковий елемент */
    }

    .chart-container{
        width: 100%; /* Задає ширину на 100% контейнера */
        max-width: 110px; /* Повна ширина для таблиці */
        height: 90px; /* Автоматична висота */
        margin-bottom: 110px; /* Додано нижній відступ */
    }

    .chart {
        display: flex; /* Використовуємо flexbox для вирівнювання стовпців */
        justify-content: space-between; /* Розміщуємо стовпці рівномірно по ширині */
        align-items: flex-end; /* Вирівнюємо стовпці по нижній частині */
        height: 199%;
    }
    
    .y-label {
        font-size: 8px;
    }
    
    .x-label {
        font-size: 8px;
    }

    .x-axis-labels {
        bottom: -100px; /* Відстань для підписів горизонтальної осі */
    }    

    .meal-table {
        font-size: 12px;
        width: 100%; /* Повна ширина для таблиці */
        height: auto; /* Автоматична висота */
    }

    footer {
        font-size: 12px;
    }
}
